[gerrit]
	basePath = git
	canonicalWebUrl = http://localhost:8080/
[database]
	type = postgres
	database = postgres
    username = postgres
    password = postgres
    hostname = db
[auth]
	type = OPENID
[sendemail]
	smtpServer = localhost
[container]
	user = gerrit
	javaHome = /usr/lib/jvm/java-7-openjdk-amd64/jre
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:8080/
[cache]
	directory = cache
